html {
  box-sizing: border-box;
  /* szerokość i wysokość zawsze będą obejmowały padding i border */
}

*,
::after,
::before {
  box-sizing: inherit;
  /* szerokość i wysokość zawsze będą obejmowały padding i border */
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}